<div>
    <app-table
      title="Empleados"
      [columns]="['ID','DNI', 'NOMBRES', 'PRIMER APELLIDO', 'SEGUNDO APELLIDO', 'EMAIL', 'ESTADO', 'ES ADMIN','ACCIONES']"
      [info]="empleados"
      (delete)="onDelete($event)"
      (edit)="onEdit($event)"
    >
        <form [formGroup]="empleadosForm" (ngSubmit)="submit()">
            <div class="element-form">
                <label>
                    DNI: <span class="obligatorio">*</span>
                </label>
                <input type="text" required formControlName="dni"/>
                <small *ngIf="empleadosForm.get('dni')?.errors?.['required']">Este campo es requerido</small>
            </div>
            <div class="element-form">
                <label>
                    Nombre: <span class="obligatorio">*</span>
                </label>
                <input type="text" required formControlName="nombre" />
                <small *ngIf="empleadosForm.get('nombre')?.errors?.['required']">Este campo es requerido</small>
            </div>
            <div class="element-form">
                <label>
                    Primer Apellido: <span class="obligatorio">*</span>
                </label>
                <input type="text" required formControlName="primerApellido" />
                <small *ngIf="empleadosForm.get('primerApellido')?.errors?.['required']">Este campo es requerido</small>
            </div>
            <div class="element-form">
                <label>
                    Segundo Apellido:
                </label>
                <input type="text" formControlName="segundoApellido" />
                <small *ngIf="empleadosForm.get('segundoApellido')?.errors?.['required']">Este campo es requerido</small>
            </div>
            <div class="element-form">
                <label>
                    Correo: <span class="obligatorio">*</span>
                </label>
                <input type="email" required formControlName="email"/>
                <small *ngIf="empleadosForm.get('email')?.errors?.['required']">Este campo es requerido</small>
            </div>
            <div class="element-form">
                <label>
                    Estado: <span class="obligatorio">*</span>
                </label>
                <select formControlName="active">
                    <option value="1">Activo</option>
                    <option value="0">Desactivo</option>
                </select>
                <small *ngIf="empleadosForm.get('active')?.errors?.['required']">Este campo es requerido</small>
            </div>
            <div class="element-form">
              <label>
                Es admin: <span class="obligatorio">*</span>
              </label>
              <select formControlName="isAdmin">
                <option value="1">Si</option>
                <option value="0" selected>No</option>
              </select>
              <small *ngIf="empleadosForm.get('isAdmin')?.errors?.['required']">Este campo es requerido</small>
            </div>
            <div class="btns">
                <button class="close" onClick="window.modal.close()">Cerrar</button>
                <button class="save" type="submit">Guardar</button>
            </div>
        </form>
    </app-table>
</div>
