<div>
    <app-table title="Clientes" [columns]="['DNI','Nombre','Apellidos','Estado']" [info]="[{id:1,name:'Santiago',lastname:'Torres Aguirre',estado:'activa'},
            {id:1,name:'Santiago',lastname:'Torres Aguirre',estado:'activa'},
            {id:1,name:'Santiago',lastname:'Torres Aguirre',estado:'activa'},
            {id:1,name:'Santiago',lastname:'Torres Aguirre',estado:'activa'},
            {id:1,name:'Santiago',lastname:'Torres Aguirre',estado:'activa'},
            {id:1,name:'Santiago',lastname:'Torres Aguirre',estado:'activa'},
            {id:1,name:'Santiago',lastname:'Torres Aguirre',estado:'activa'}
         ]">
        <form>
            <div class="element-form">
                <label>
                    DNI: <span class="obligatorio">*</span>
                </label>
                <input type="text" required />
            </div>
            <div class="element-form">
                <label>
                    Nombre: <span class="obligatorio">*</span>
                </label>
                <input type="text" required />
            </div>
            <div class="element-form">
                <label>
                    Primer Apellido: <span class="obligatorio">*</span>
                </label>
                <input type="text" />
            </div>
            <div class="element-form">
                <label>
                    Estado: <span class="obligatorio">*</span>
                </label>
                <select>
                    <option>Activo</option>
                    <option>Desactivo</option>
                </select>
            </div>
        </form>    


    </app-table>
</div>