<div>
    <app-table title="Clientes" [columns]="['DNI','Nombre','Apellidos','Estado']" [info]="[{id:1,name:'Santiago',lastname:'Torres Aguirre',estado:'activa'},
            {id:1,name:'Santiago',lastname:'Torres Aguirre',estado:'activa'},
            {id:1,name:'Santiago',lastname:'Torres Aguirre',estado:'activa'},
            {id:1,name:'Santiago',lastname:'Torres Aguirre',estado:'activa'},
            {id:1,name:'Santiago',lastname:'Torres Aguirre',estado:'activa'},
            {id:1,name:'Santiago',lastname:'Torres Aguirre',estado:'activa'},
            {id:1,name:'Santiago',lastname:'Torres Aguirre',estado:'activa'}
         ]">
        <form [formGroup]="cliente" (ngSubmit)="submit">
            <div class="element-form">
                <label>
                    DNI: <span class="obligatorio">*</span>
                </label>
                <input type="text" required formControlName="dni"/>
                <small *ngIf="cliente.get('dni')?.errors?.['required']" >Este campo es requerido</small>
            </div>
            <div class="element-form">
                <label>
                    Nombre: <span class="obligatorio">*</span>
                </label>
                <input type="text" required formControlName="nombre"/>
                <small *ngIf="cliente.get('nombre')?.errors?.['required']">Este campo es requerido</small>
            </div>
            <div class="element-form">
                <label>
                    Primer Apellido: <span class="obligatorio">*</span>
                </label>
                <input type="text" formControlName="primerApellido"/>
                <small *ngIf="cliente.get('primerApellido')?.errors?.['required']">Este campo es requerido</small>
            </div>
            <div class="element-form">
                <label>
                    Segundo Apellido: <span class="obligatorio">*</span>
                </label>
                <input type="text" formControlName="segundoApellido"/>
                <small *ngIf="cliente.get('segundoApellido')?.errors?.['required']">Este campo es requerido</small>
            </div>
            <div class="element-form">
                <label>
                    Estado: <span class="obligatorio">*</span>
                </label>
                <select formControlName="estado">
                    <option>Activo</option>
                    <option>Desactivo</option>
                </select>
                <small *ngIf="cliente.get('estado')?.errors?.['required']">Este campo es requerido</small>
            </div>
            <div class="btns">
                <button class="close" onClick="window.modal.close()">Cerrar</button>
                <button class="save" type="submit">Guardar</button>
            </div>
        </form>    


    </app-table>
</div>