<div>
    <app-table title="Clientes" [columns]="['ID','DNI','NOMBRE','PRIMER APELLIDO','SEGUNDO APELLIDO','ESTADO','ACCIONES']" [info]="clientes" (edit)="onEdit($event)" (delete)="onDelete($event)">
        <form [formGroup]="clienteForm" (ngSubmit)="submit()">
            <div class="element-form">
                <label>
                    DNI: <span class="obligatorio">*</span>
                </label>
                <input type="text" required formControlName="dni"/>
                <small *ngIf="clienteForm.get('dni')?.errors?.['required']" >Este campo es requerido</small>
            </div>
            <div class="element-form">
                <label>
                    Nombre: <span class="obligatorio">*</span>
                </label>
                <input type="text" required formControlName="nombre"/>
                <small *ngIf="clienteForm.get('nombre')?.errors?.['required']">Este campo es requerido</small>
            </div>
            <div class="element-form">
                <label>
                    Primer Apellido: <span class="obligatorio">*</span>
                </label>
                <input type="text" formControlName="primerApellido"/>
                <small *ngIf="clienteForm.get('primerApellido')?.errors?.['required']">Este campo es requerido</small>
            </div>
            <div class="element-form">
                <label>
                    Segundo Apellido: <span class="obligatorio">*</span>
                </label>
                <input type="text" formControlName="segundoApellido"/>
                <small *ngIf="clienteForm.get('segundoApellido')?.errors?.['required']">Este campo es requerido</small>
            </div>
            <div class="element-form">
                <label>
                    Estado: <span class="obligatorio">*</span>
                </label>
                <select formControlName="active">
                    <option value=true>Activo</option>
                    <option value=false>Desactivo</option>
                </select>
                <small *ngIf="clienteForm.get('active')?.errors?.['required']">Este campo es requerido</small>
            </div>
            <div class="btns">
                <button class="close" (click)="cerrarModal()">Cerrar</button>
                <button class="save" type="submit">Guardar</button>
            </div>
        </form>    


    </app-table>
</div>