<nav>
    <ul>
        <li>
            <div class="element-nav" routerLink="/ventas" routerLinkActive="active">
                <i class="fa-solid fa-basket-shopping"></i>
                <a>Ventas</a>
            </div>
        </li>
        <li>
            <div class="element-nav" routerLink="/clientes" routerLinkActive="active">
                <i class="fas fa-user-tag"></i>
                <a>Clientes</a>
            </div>
        </li>
        <li>
            <div class="element-nav" routerLink="/productos" routerLinkActive="active">
                <i class="fas fa-cart-arrow-down"></i>
                <a >Productos</a>
            </div>
        </li>
        <li>
            <div class="element-nav" routerLink="/empleados" routerLinkActive="active" >
                <i class="fas fa-building"></i>
                <a>Empleados</a>
            </div>
        </li>
    </ul>
    <div>
        <div class="element-nav">
            <i class="fas fa-sign-out-alt"></i>
            <a>Cerrar Sesión</a>
        </div>
    </div>
</nav>