<div>
  <app-table
    title="Ventas"
    [columns]="['CÓDIGO','FECHA','TOTAL','CLIENTE', 'PRODUCTOS']"
    [info]="ventas"
    (viewDetails)="openDetailsModal($event)"
  >
    <form [formGroup]="ventaForm">
      <div class="element-form">
        <label>
          Seleccione un cliente: <span class="obligatorio">*</span>
        </label>
        <select formControlName="cliente">
          <option></option>
          <option *ngFor="let c of clientes" [value]="c.id">{{c.nombre}} {{c.primerApellido}} {{c.segundoApellido}}</option>
        </select>
        <small *ngIf="ventaForm.get('cliente')?.errors?.['required']">Este campo es requerido</small>
      </div>

      <div class="element-form">
        <label>
          Seleccione un producto: <span class="obligatorio">*</span>
        </label>
        <select formControlName="producto">
          <option></option>
          <option *ngFor="let p of productos" [value]="p.id">{{p.nombre}}</option>
        </select>
        <small *ngIf="ventaForm.get('producto')?.errors?.['required']">Este campo es requerido</small>
      </div>

      <div class="element-form">
        <label>
          Cantidad: <span class="obligatorio">*</span>
        </label>
        <input type="number" required formControlName="cantidad" min="1"/>
        <small *ngIf="ventaForm.get('cantidad')?.errors?.['required']">Este campo es requerido</small>
        <small *ngIf="ventaForm.get('cantidad')?.errors?.['min']">Este campo no puede ser menor a 1</small>
      </div>

      <div class="btns productos">
        <button class="save" type="button" (click)="addProduct()">Agregar</button>
      </div>

      <table>
        <thead>
        <tr>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Subtotal</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of selectedProducts; let i = index">
          <td>{{item.producto.nombre}}</td>
          <td>{{item.cantidad}}</td>
          <td>{{item.subtotal}}</td>
          <td>
            <button class="eliminar-productos" type="button" (click)="removeProduct(i)">Eliminar</button>
          </td>
        </tr>
        </tbody>
      </table>

      <span class="total">Cantidad total: {{total}}</span>

      <div class="btns">
        <button class="close" type="button" (click)="closeModal()">Cerrar</button>
        <button class="save" type="submit" (click)="submit()">Guardar</button>
      </div>
    </form>
  </app-table>

  <dialog id="ventaDetalleModal">
    <div class="modal">
      <div class="header-modal">
        <i (click)="closeDetailsModal()" class="fa-solid fa-circle-xmark"></i>
      </div>
      <div class="modal-content">
        <h4>Detalles de la Venta</h4>

        <p>Cliente: {{currentVentaDetalle?.cliente}}</p>

        <table>
          <thead>
          <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Subtotal</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let producto of currentVentaDetalle?.productos">
            <td>{{producto.nombre}}</td>
            <td>{{producto.cantidad}}</td>
            <td>{{producto.subtotal | currency}}</td>
          </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="2">Total</td>
              <td>{{calculateTotal(currentVentaDetalle?.productos) | currency}}</td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </dialog>
</div>
