<div>
    <app-table title="Ventas" [columns]="['CÓDIGO','FECHA','TOTAL','PRODCUTOS','CLIENTE']" [info]="[{id:1,fecha:'8 de Agosto de 2024',total:70000,productos:'',cliente:'Jhoana Torres Aguirre'},
            {id:1,fecha:'8 de Agosto de 2024',total:70000,productos:'',cliente:'Jhoana Torres Aguirre'},
            {id:1,fecha:'8 de Agosto de 2024',total:70000,productos:'',cliente:'Jhoana Torres Aguirre'},
            {id:1,fecha:'8 de Agosto de 2024',total:70000,productos:'',cliente:'Jhoana Torres Aguirre'},
            {id:1,fecha:'8 de Agosto de 2024',total:70000,productos:'',cliente:'Jhoana Torres Aguirre'}
         ]">
        <form>
            <div class="element-form">
                <label>
                    Seleccione un cliente: <span class="obligatorio">*</span>
                </label>
                <select>
                    <option></option>
                    <option>Jhoana Torres Aguirre</option>
                    <option>Dennis Arles</option>
                </select>
            </div>
            <div class="element-form">
                <label>
                    Seleccione un producto: <span class="obligatorio">*</span>
                </label>
                <select>
                    <option></option>
                    <option>Producto 1</option>
                    <option>Producto 2</option>
                </select>
            </div>
            <div class="element-form">
                <label>
                    Cantidad: <span class="obligatorio">*</span>
                </label>
                <input type="number" required/>
            </div>
            <div class="btns productos">
                <button class="save">Agregar</button>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Subtotal</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Prodcuto 1</td>
                        <td>7</td>
                        <td>4000</td>
                        <td>
                            <button class="eliminar-productos">Eliminar</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Prodcuto 1</td>
                        <td>7</td>
                        <td>4000</td>
                        <td>
                            <button class="eliminar-productos">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <span class="total">Cantidad total: 4999</span>
        </form>     
    </app-table>
</div>