<div>
    <app-table title="Productos" [columns]="['CÓDIGO','NOMBRE','MARCA','COSTO','CANTIDAD DISPONIBLE','Estado']" [info]="[{id:1,nombre:'Producto 1',marca:'Marca 1',costo:7000,cantidad:40,estado:'Activo'},
            {id:1,nombre:'Producto 1',marca:'Marca 1',costo:7000,cantidad:40,estado:'Activo'},
            {id:1,nombre:'Producto 1',marca:'Marca 1',costo:7000,cantidad:40,estado:'Activo'},
            {id:1,nombre:'Producto 1',marca:'Marca 1',costo:7000,cantidad:40,estado:'Activo'},
            {id:1,nombre:'Producto 1',marca:'Marca 1',costo:7000,cantidad:40,estado:'Activo'},
            {id:1,nombre:'Producto 1',marca:'Marca 1',costo:7000,cantidad:40,estado:'Activo'},
            {id:1,nombre:'Producto 1',marca:'Marca 1',costo:7000,cantidad:40,estado:'Activo'}
         ]">
        <form>
            <div class="element-form">
                <label>
                    Nombre: <span class="obligatorio">*</span>
                </label>
                <input type="text" required />
            </div>
            <div class="element-form">
                <label>
                    Marca: <span class="obligatorio">*</span>
                </label>
                <input type="text" required />
            </div>
            <div class="element-form">
                <label>
                    Costo:<span class="obligatorio">*</span>
                </label>
                <input type="number" />
            </div>
            <div class="element-form">
                <label>
                    Cantidad disponible: <span class="obligatorio">*</span>
                </label>
                <input type="number" required/>
            </div>
            <div class="element-form">
                <label>
                    Estado: <span class="obligatorio">*</span>
                </label>
                <select>
                    <option>Activo</option>
                    <option>Desactivo</option>
                </select>
            </div>
        </form>    
    </app-table>
</div>
