<div>
    <app-table title="Productos" [columns]="['CÓDIGO','NOMBRE','MARCA','COSTO','CANTIDAD DISPONIBLE','ESTADO','ACCIONES']" [info]="productos" (delete)="onDelete($event)" (edit)="onEdit($event)"> 
        <form [formGroup]="productsForm" (ngSubmit)="submit()" form>
            <div class="element-form">
                <label>
                    Nombre: <span class="obligatorio">*</span>
                </label>
                <input type="text" required formControlName="nombre" />
                <small *ngIf="productsForm.get('nombre')?.errors?.['required']">Este campo es requerido</small>
            </div>
            <div class="element-form">
                <label>
                    Marca: <span class="obligatorio">*</span>
                </label>
                <input type="text" required  formControlName="marca"/>
                <small *ngIf="productsForm.get('marca')?.errors?.['required']">Este campo es requerido</small>
            </div>
            <div class="element-form">
                <label>
                    Costo:<span class="obligatorio">*</span>
                </label>
                <input type="number" formControlName="costo" />
                <small *ngIf="productsForm.get('costo')?.errors?.['required']">Este campo es requerido</small>
            </div>
            <div class="element-form">
                <label>
                    Cantidad disponible: <span class="obligatorio">*</span>
                </label>
                <input type="number" required formControlName="cantidadDisponible"/>
                <small *ngIf="productsForm.get('cantidadDisponible')?.errors?.['required']">Este campo es requerido</small>
            </div>
            <div class="element-form">
                <label>
                    Estado: <span class="obligatorio">*</span>
                </label>
                <select formControlName="estado">
                    <option value=1>Activo</option>
                    <option value=0>Desactivo</option>
                </select>
                <small *ngIf="productsForm.get('estado')?.errors?.['required']">Este campo es requerido</small>
            </div>
            <div class="btns">
                <button class="close" (click)="cerrarModal()">Cerrar</button>
                <button type="submit" class="save">{{ editando ? 'Guardar Cambios' : 'Crear Producto' }}</button>
            </div>    
        </form>   
    </app-table>
</div>
