<div class="login">
    <form>
        <h2>Inciar Sesión</h2>
        <div class="element-form">
            <label>
                Usuario: <span class="obligatorio">*</span>
            </label>
            <input type="text" required placeholder="Santiago" />
        </div>
        <div class="element-form">
            <label>
                Contraseña: <span class="obligatorio">*</span>
            </label>
            <input type="password" required />
        </div>
        <div class="containt-button">
            <button class="save login-button">Iniciar Sesión</button>
        </div>
        <div>
            <hr/>
            <p>¿No tienes una cuenta?, <a>Registrate</a></p>
        </div>
    </form>
</div>