.main-table{
    padding: 15px;
    overflow-y: auto;
    max-height: calc(100vh - 75px);
}
.header-table{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}

.header-table h4{
    font-size: 2.5rem;
}

.table{
    margin-top: 10px;
    background-color: var(--background-principal);
    border-radius: 14px;
    padding: 20px 15px;
}
.table-look{
    background-color: var(--background-second);
    width: max-content;
    padding: 9px;
    border-radius: 8px;
}

.table-look input{
    background-color: transparent;
    padding: 4px;
    border: none;
    outline: none;
    width: 400px;
}

.table-look input, i{
    font-size: 1.5rem;
}



dialog{
    margin: 7rem auto;
    width: 50rem;
    border: none;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    max-height: calc(100vh - 14rem);
}

.modal div{
    display: flex;
    justify-content: end;
}
.modal div i{
    cursor: pointer;
}

.header-modal{
    margin-bottom: 20px;
}

.detalles{
    background-color: var(--button);
    color: var(--background-principal);
    border: none;
    padding: 8px;
    cursor: pointer;
}

.access{
    color: red;
    font-size: 1.5rem;
    font-weight: 700;
}


/* Botones comunes */
.btn {
    height: 30px;
    padding: 5px 10px;
    margin: 0 5px;
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
  }
  
  .btn i {
    margin-right: 5px;
  }
  
  .edit-btn {
    background-color: rgb(228, 190, 51);
  }
  
  .edit-btn:hover {
    background-color: rgb(200, 170, 40);
  }
  
  .delete-btn {
    background-color: red;
  }
  
  .delete-btn:hover {
    background-color: darkred;
  }
  
  .imagen-producto{
    width: 120px;
    height: 120px;
    overflow: hidden;
  }