<div class="main-table">
    <div class="header-table">
        <h4>{{ title }}</h4>
        <ng-container *ngIf="rol == 'VENDEDOR' && title == 'Productos'; else other">
            <span class="access">No tienes acceso para crear un producto</span>
        </ng-container>
        <ng-template #other>
            <button class="boton" onClick="window.modal.showModal()">
                <i class="fa-solid fa-plus"></i> Agregar {{title}}
            </button>
        </ng-template>
    </div>
    <div class="table">
        <div class="table-look">
            <i class="fas fa-search"></i>
            <input type="text" placeholder="Buscar aquí" />
        </div>
        <table>
            <thead>
            <tr>
                <th *ngFor="let column of columns">{{ column }}</th>
                <th *ngIf="rowActions.length > 0">Acciones</th> <!-- Column for actions -->
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let row of info">
                <td *ngFor="let key of keys">
                    <div *ngIf="key == 'productos'; then thenBlock else elseBlock"></div>
                    <ng-template #thenBlock>
                        <button class="detalles">Ver detalles</button>
                    </ng-template>
                    <ng-template #elseBlock>{{ row[key] }}</ng-template>
                </td>
                <td *ngIf="rowActions.length > 0">
                    <ng-container *ngFor="let rowAction of rowActions">
                        <ng-container *ngIf="!rowAction.condition || rowAction.condition(row)">
                            <button (click)="rowAction.method(row)">{{ rowAction.label }}</button>
                        </ng-container>
                    </ng-container>
                </td>
            </tr>
            </tbody>
        </table>
        <dialog id="modal">
            <div class="modal">
                <div class="header-modal">
                    <i onClick="window.modal.close()" class="fa-solid fa-circle-xmark"></i>
                </div>
                <ng-content></ng-content>
            </div>
        </dialog>
    </div>
</div>
