<div class="main-table">
    <div class="header-table">
        <h4>{{title}}</h4>
        <ng-container *ngIf="rol == 'VENDEDOR' && title == 'Productos'; else other">
            <span class="access">No tienes acceso para crear un producto</span>
        </ng-container>
        <ng-template #other>
            <button class="boton" onClick="window.modal.showModal()" ><i class="fa-solid fa-plus"></i> {{"Agregar "+title}}</button>
        </ng-template>
    </div>
    <div class="table">
        <div class="table-look">
            <i class="fas fa-search"></i>
            <input type="text" placeholder="Buscar aquí" [(ngModel)]="buscar" (input)="filtrar()" />
        </div>
        <table>
            <thead>
                <tr>
                    <th *ngFor="let column of columns">
                        {{column}}
                    </th>
                </tr>
            </thead>
            <tbody >
                <tr *ngFor="let row of filtro">
                    <td *ngFor="let key of keys">
                        <div *ngIf="key == 'productos'; then thenBlock else elseBlock"></div>
                        <ng-template #thenBlock>
                          <button class="detalles" (click)="viewDetailsRow(row.codigo)">Ver detalles</button>
                        </ng-template>
                        <ng-template #elseBlock>{{row[key]}}</ng-template>
                    </td>
                    <div *ngIf="!info[0]?.total && !(info[0]?.total == 0); then thenBlock"></div>
                    <ng-template #thenBlock>
                      <td class="action-buttons">
                          <button class="btn edit-btn" (click)="editRow(row)" aria-label="Editar">
                            <i class="fa-solid fa-file-pen" aria-hidden="true"></i>
                            <span>Editar</span>
                          </button>
                          <button class="btn delete-btn" (click)="deleteRow(row)" aria-label="Eliminar">
                            <i class="fa-solid fa-trash" aria-hidden="true"></i>
                            <span>Eliminar</span>
                          </button>
                      </td>
                    </ng-template>
                </tr>
            </tbody>
        </table>
        <dialog #modal id="modal">
            <div class="modal">
                <div class="header-modal">
                    <i onClick="window.modal.close()" class="fa-solid fa-circle-xmark"></i>
                </div>
                <ng-content></ng-content>
            </div>
        </dialog>

    </div>
</div>
